include LICENSE.txt
include README.md

include setupbase.py
include pytest.ini
include .coverage.rc

include package.json
include {{ cookiecutter.python_package_name }}/labextension/*.tgz

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/gh-pages
prune docs/dist

# Examples
graft examples

# Javascript files
graft {{ cookiecutter.python_package_name }}/nbextension
graft packages
prune packages/**/node_modules
prune packages/**/coverage
prune packages/**/node_modules
prune packages/**/lib
prune packages/**/test/build

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
