name: Build

on:
  push:
    branches: master
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -eux {0}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.7", "3.10"]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install dependencies
        run: |
          python -m pip install -U cookiecutter jupyterlab~=3.0

      - name: Install the extension
        run: |
          cookiecutter . --config-file tests/testconfig.yaml --no-input
          cd jupyter-widget-testwidgets
          python -m pip install --upgrade -v -e ".[test, examples, docs]"

      - name: Test the extension
        working-directory: jupyter-widget-testwidgets
        run: |
          python -m pytest
          yarn run lint:check
          yarn run test

      - name: Validate extension usage
        working-directory: jupyter-widget-testwidgets
        run: |
          # Validate nbextension
          jupyter nbextension list 2>&1 | grep -ie "jupyter-js-widgets/extension.*enabled"

          # Validate labextension
          jupyter labextension list
          jupyter labextension list 2>&1 | grep -ie "jupyter-widget-testwidgets.*OK"
          # Make sure our lab extension can be develop installed.
          jupyter labextension develop . --overwrite

      - name: Check docs can be build + links
        if: ${{ matrix.os == 'ubuntu-latest' }}
        working-directory: jupyter-widget-testwidgets/docs
        run: |
          sudo apt install -y pandoc
          make html SPHINXOPTS="-W"
          python -m pytest --check-links
